// Map for stisla colors
$colors: (
  primary: #5100cd,
  secondary: #d4ff00,
  success: #47ff59,
  info: #5100cd,
  warning: #fecd17,
  danger: #d9245a,

  light: #f5edff,
  grey: #c8adf0,
  whitesmoke: #f1e9fd,
  dark: #1d1d2a,
  muted: #81818f,
  body: #f9f4ff,
  font: #141421,
  fontdark: #1f1f31,
  white: #ffffff,

  // Form Control
  formcontrol_normal_background: #f9f4ff,
  formcontrol_normal_border: #f5edff,
  formcontrol_focus_background: #f9f4ff,
  formcontrol_focus_border: #5100cd,

  // Utilities
  section_title_line: #5100cd,
);

// Define explicit SCSS variables for our custom colors
$navbar-bg: #1f1f31;
$navigator-bg: #000000;
$icon-blue: #d4ff00;
$sidebar-bg: #1f1f31;
$sidebar-link-hover: #d4ff00;
$sidebar-button-bg: #000000;
$white: #ffffff;

$font_family: "Nunito", "Segoe UI", arial;
$font_weight: 400;
$font_size: 14px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

@function color($key) {
  @return map-get($colors, $key);
}

@function color_lighten($key, $amount) {
  @return lighten(map-get($colors, $key), $amount);
}

@function color_darken($key, $amount) {
  @return darken(map-get($colors, $key), $amount);
}

@function to_opacity($color, $opacity) {
  @return rgba(color($color), $opacity);
}
