.main-content {
  padding: 10px 30px 30px 30px;
}

.main-wrapper {
  display: flex;
  flex-direction: row-reverse;
  min-height: 100vh;

  .main-zone {
    flex-grow: 1;
  }
}


nav.navbar {
  position: inherit !important;
  background: #029AFF;
}

.main-sidebar {
  position: inherit !important;
  min-width: 250px;
  height: auto;

  #sidebar-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .sidebar-menu {
      /*min-height: calc(100vh - 75.6px - 42.5px - 5rem);*/
      flex-grow: 1;
    }
  }

  .sidebar-brand {
    height: auto;
    line-height: 1.2em;
    padding: 1.5em 0;
  }

  .close-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;

    i {
      font-size: 24px;
    }

    cursor: pointer;
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .main-wrapper {
    flex-direction: column-reverse;

    .main-sidebar {
      width: 100%;
      position: absolute !important;

      #sidebar-wrapper {
        min-height: 100vh;
      }
    }
  }
}

.main-sidebar .sidebar-menu li a.router-link-exact-active {
  color: #029AFF;
  font-weight: 600;
}

.card table.compact {

  td,
  th {
    height: 3em !important;
    font-size: 80%;
    padding: 0 2px !important;

    &:first-child {
      padding-left: 25px !important;
    }

    &:last-child {
      padding-right: 25px !important;
    }

    &::after {
      right: auto !important;
      bottom: auto !important;
      position: inherit !important;
      display: inline-block !important;
      margin-left: 1em;
    }
  }

  td {

    &.hash,
    &.address {
      display: block;
      width: 200px;
      /* However wide you want the cell to be before ellipsis */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }
  }
}

.card .list-group.compact {
  font-size: 80%;
}

a,
span {

  &.hash,
  &.address {
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 20vw;
    word-wrap: normal;
  }

  &.break-xs {
    max-width: 10em;
  }
}

.avatar-xxl {
  font-size: 40px;
  height: 100px;
  width: 100px;
}