// Import fonts
@import url("https://use.typekit.net/acb7qvn.css");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

// App styles
.main-content {
  padding: $spacing-sm $spacing-lg $spacing-lg $spacing-lg;
}

.main-wrapper {
  display: flex;
  flex-direction: row-reverse;
  min-height: 100vh;

  .main-zone {
    flex-grow: 1;
  }
}

// Using variables from stisla-variables.scss
nav.navbar {
  position: inherit !important;
  background: $navbar-bg;
}

.navbar-bg {
  background: $navbar-bg;
}

.navigator {
  background: $navigator-bg;
  width: $navigator-width;

  span.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: $spacing-xxl;

    svg {
      height: $spacing-xl;
      fill: $navigator-bg;
    }
    background: $secondary;
  }

  nav > div {
    text-align: center;
    padding: $spacing-sm 0;
    cursor: pointer;
    transition: $transition-hover;

    &:hover {
      svg {
        fill: $secondary;
      }
    }

    &.active {
      background: $sidebar-bg;

      svg {
        fill: $secondary;
      }
    }

    svg {
      fill: color(white);
      height: $icon-size-sm;
      width: $icon-size-sm;
      max-width: $icon-size-md;
    }
  }
}

.main-sidebar {
  position: inherit !important;
  min-width: $sidebar-min-width;
  height: auto;
  background: $sidebar-bg;
  color: color(white);
  font-family: $font-family-title;
  font-weight: 600;
  font-size: $font-size-sm;

  a {
    height: $menu-item-height !important;
    font-weight: 600;
    letter-spacing: normal;
    color: color(white) !important;

    &.active,
    &.router-link-exact-active {
      color: $sidebar-bg !important;
      background: $secondary !important;

      &:hover {
        color: $sidebar-bg !important;
        background: $secondary !important;
        cursor: default !important;
      }
    }

    &:hover {
      color: $sidebar-link-hover !important;
      background-color: $navbar-bg !important;
    }
  }

  .sidebar-menu {
    padding-top: $spacing-xxl;

    li.menu-header {
      color: $sidebar-menu-header;
      height: $menu-item-height;
      font-weight: 600;
      font-size: $font-size-md;
      letter-spacing: normal;
      padding: $spacing-xs $spacing-lg;
      margin: 0 !important;
    }

    li a {
      letter-spacing: normal;
    }
  }

  .btn-primary,
  .btn-primary:active {
    box-shadow: none !important;
    background-color: $sidebar-button-bg;
    border: none;
  }

  #sidebar-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .sidebar-menu {
      /*min-height: calc(100vh - 75.6px - 42.5px - 5rem);*/
      flex-grow: 1;
    }
  }

  .close-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: $close-button-padding;

    i {
      font-size: $font-size-lg;
    }

    cursor: pointer;
    opacity: $opacity-dim;

    &:hover {
      opacity: $opacity-full;
    }
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, lg)) {
  .main-wrapper {
    flex-direction: column-reverse;

    .main-sidebar {
      width: 100%;
      position: absolute !important;

      #sidebar-wrapper {
        min-height: 100vh;
      }
    }
  }
}

.main-sidebar .sidebar-menu li a.router-link-exact-active {
  color: $secondary;
  font-weight: bold;
}

.card table.compact {
  td,
  th {
    height: 3em !important;
    font-size: $font-size-xs;
    padding: 0 2px !important;

    &:first-child {
      padding-left: 25px !important;
    }

    &:last-child {
      padding-right: 25px !important;
    }

    &::after {
      right: auto !important;
      bottom: auto !important;
      position: inherit !important;
      display: inline-block !important;
      margin-left: $spacing-base;
    }
  }

  td {
    &.hash,
    &.address {
      display: block;
      width: $table-cell-width;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.card .list-group.compact {
  font-size: $font-size-xs;
}

a,
span {
  &.hash,
  &.address {
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: $hash-max-width-base;
    word-wrap: normal;
  }

  &.break-xs {
    max-width: $hash-max-width-xs;
  }
}

.avatar-xxl {
  font-size: $font-size-xl;
  height: $avatar-xxl-size;
  width: $avatar-xxl-size;
}

.clear-button {
  color: color(font) !important;
}